<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Shopping_Site_V1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserDetailsServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.UpdateUserDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitiateQueryServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.InitiateQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteConvoServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.DeleteConversationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSendMessageServlet</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.AdminSendMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminViewQuery</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.AdminViewQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminViewAllUser</servlet-name>
    <servlet-class>com.fdmgroup.Servlet.ListAllUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAllTransaction</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ListAllTransactionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TotalSold</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.TotalSoldServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>viewTransaction</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ViewTransactionDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deliveredTransaction</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.deliveredTransactionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateItem</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAllItems</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ListAllItemsServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>checkUpdate</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.checkUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminRegister</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.AdminRegisterServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ViewCPU</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ViewCPUServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewGraphicCard</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ViewGraphicCardServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ViewRam</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ViewRamServlet</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>AddToCart</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ProductAddToCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>retrieveCatalog</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.retrieveCatalog</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ViewCart</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.ViewCart</servlet-class>
  </servlet>
     <servlet>
  	<servlet-name>checkOut</servlet-name>
  	<servlet-class>com.fdmgroup.Servlet.checkOut</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserDetailsServlet</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/ViewQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitiateQueryServlet</servlet-name>
    <url-pattern>/InitiateQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteConvoServlet</servlet-name>
    <url-pattern>/deleteConvo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSendMessageServlet</servlet-name>
    <url-pattern>/AdminSendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminViewQuery</servlet-name>
    <url-pattern>/AdminViewQuery</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AdminViewAllUser</servlet-name>
    <url-pattern>/AdminViewAllUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllTransaction</servlet-name>
    <url-pattern>/ListAllTransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TotalSold</servlet-name>
    <url-pattern>/TotalSold</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewTransaction</servlet-name>
    <url-pattern>/viewTransaction</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>deliveredTransaction</servlet-name>
    <url-pattern>/deliveredTransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateItem</servlet-name>
    <url-pattern>/updateItem</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ListAllItems</servlet-name>
    <url-pattern>/ListAllItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkUpdate</servlet-name>
    <url-pattern>/checkUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRegister</servlet-name>
    <url-pattern>/AdminRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCPU</servlet-name>
    <url-pattern>/viewCPU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewGraphicCard</servlet-name>
    <url-pattern>/viewGraphicCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewRam</servlet-name>
    <url-pattern>/viewRam</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>retrieveCatalog</servlet-name>
    <url-pattern>/retrieveCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCart</servlet-name>
    <url-pattern>/ViewCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkOut</servlet-name>
    <url-pattern>/checkOut</url-pattern>
  </servlet-mapping>
</web-app>